@model InventoryViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Image)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cars[0].CarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Inventory</a>
    </form>
</div>
