@model InventoryViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars[0].Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars[0].Image)
        </dd>
    </dl>
</div>

<form asp-action="RedirectToContact" method="post">
    <input type="hidden" name="carId" value="@Model.Cars[0].CarId" />
    <input type="hidden" name="carMake" value="@Model.Cars[0].Make" />
    <input type="hidden" name="carModel" value="@Model.Cars[0].Model" />
    <button type="submit">Talk to a representative</button>
</form>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Cars[0].CarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
