@model InventoryViewModel

@{
    ViewData["Title"] = "Our Inventory";
}

<h1>Our Inventory</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add Car</a>
</p>


@if (Model.Cars.Count() != 0)
{
    <div class="row">
        @foreach (var item in Model.Cars)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @*Display car image if its available*@
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="@item.Image" 
                        class="card-img-top" 
                        alt="@item.Make @item.Model" 
                        style="height: 200px; object-fit: cover;"/>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Year @item.Make @item.Model</h5>
                        <p class="card-text">
                            <strong>Color:</strong> @item.Color <br />
                            <strong>Mileage:</strong> @item.Mileage <br />
                            <strong>Price:</strong> $@item.Price
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.CarId">Details</a>
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.CarId">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2>No vehicles to display. Sorry about that!</h2>
}

<nav aria-label="Inventory Pages">
    <ul class="pagination">
        @for (int i = 1; i <= Model.LastPage; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-id="@i">@i</a>
                </li>
            }
        }
    </ul>
</nav>

